## Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

.venv
.env

.ipynb_checkpoints/
*/.ipynb_checkpoints/*

*.bkp

# Raster files
*.tif
*.tiff
*.TIF
*.TIFF

*.fasta
*.nwk


images/
*.png
*.svg
*.pdf

tmp/
phylocartoplot/visualisation/archive/
examples/use_case_2/archive/02_tree_to_map_raster_walkthrough.ipynb
examples/sample_data/

.venv-test/
.venv-testpypi/
testpypi_token.txt

.pytest_cache/
.coverage